<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Notification Page</title>
</head>
{% load static %}
<!----------------------Style Css------------------------------->
<body>
{% for WELECOME in NOTIFICATION_WELECOME %}
<p style="font-size: 120%;font-weight: bold;">{{request.user.profile_model.welcome_notification}} <b style="font-size: 150%;color: green;">{{request.user.profile_model.username}}</b></p>
{% endfor %}
    
</body>
</html>